<div class="container-fluid">

  <h1>How to:</h1>

  <div class="well span12">
    <h3>Upload your files:</h3>

<iframe src="//player.vimeo.com/video/86402688" width="800" height="449" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<center> <p><a href="http://vimeo.com/86402688">uploading1</a> from <a href="http://vimeo.com/user16551160">Jesus Marco de Lucas</a> on <a href="https://vimeo.com">Vimeo</a>.</p> </center>

  </div>
  <div class="well span12">
    <h3>Submit a Job:</h3>
<iframe src="//player.vimeo.com/video/86501013" width="800" height="449" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<center><p><a href="http://vimeo.com/86501013">starting jobs2</a> from <a href="http://vimeo.com/user16551160">Jesus Marco de Lucas</a> on <a href="https://vimeo.com">Vimeo</a>.</p></center>
  </div>
<div class="well span12">
<h3>Check the output</h3>
</div>

</div>
