<div class="container">

<h1>How to:</h1>

  <div class="well">
    <div class="row">
      <div class="span8">
	<h3>Make basic manipulations:</h3>
	<p>This is a quick description on how to upload files, check job status, and organize your files</p>
      </div> 
      <div class="span2">
	<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
	  <iframe allowfullscreen="" src="http://www.youtube.com/embed/6NbAAmDuv_8?feature=player_detailpage" frameborder="0"></iframe>
	</div>
      </div>
    </div> 
  </div> <!-- end of 1rst well -->

  <div class="well">
    <div class="row">
      <div class="span8">
	<h3>Assemble reads:</h3>
	<p>This is a quick description on how to assemble reads and the video support</p>
      </div> 
      <div class="span2">
	<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
	  <iframe allowfullscreen="" src="http://www.youtube.com/embed/6NbAAmDuv_8?feature=player_detailpage" frameborder="0"></iframe>
	</div>
      </div>
    </div> 
  </div> <!-- end of 2nd well -->

  <div class="well">
    <div class="row">
      <div class="span8">
	<h3>Get differential expression from two different tissues:</h3>
	<p>This is a quick description on how to get things done and the video support</p>
      </div> 
      <div class="span2">
	<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
	  <iframe allowfullscreen="" src="http://www.youtube.com/embed/6NbAAmDuv_8?feature=player_detailpage" frameborder="0"></iframe>
	</div>
      </div>
    </div> 
</div>  <!-- end of 3rd well -->
    
  </div>

</div>
