<div class="container-fluid">

  <h1>How to:</h1>

  <div class="well span12">
    <h3>Upload your files:</h3>

<iframe src="//player.vimeo.com/video/86609999" width="800" height="449" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="well span12">
    <h3>Submit a Job:</h3>
<iframe src="//player.vimeo.com/video/87452401" width="800" height="449" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
<div class="well span12">
<h3>Check the output</h3>
</div>

</div>
