$def with( jobinfo )
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <form id="jobnameform" class="form-inline">
        <h2>
          <strong>Job $jobinfo['juid']: </strong>
          <span id="jobname">$jobinfo['name']</span>
          <i class="icon-edit" id="jobnameicon"></i>
        </h2>
        <input type="hidden" name="oldname" value="$jobinfo['name']">
        <input type="hidden" name="jobid" value="$jobinfo['jobid']">
      </form>

      <div><strong>Job Created:</strong> $jobinfo['created']</div>
      <div><strong>Job Updated:</strong> $jobinfo['updated']</div>

      <h3>Job State:
        $if jobinfo['state'] == 0:
            <a class="btn btn-large disabled"><i class="icon-tasks"></i> Just Created</a>
        $elif jobinfo['state'] == 1:
            <a class="btn btn-large btn-info disabled"><i class="icon-tasks icon-white"></i> Submitted</a>
        $elif jobinfo['state'] == 2:
            <a class="btn btn-large btn-warning disabled"><i class="icon-cog icon-white"></i> Running</a>
        $elif jobinfo['state'] == 3:
            <a class="btn btn-large btn-success disabled"><i class="icon-ok-circle icon-white"></i> Completed</a>
        $elif jobinfo['state'] == 4:
            <a class="btn btn-large btn-inverse disabled"><i class="icon-remove-circle icon-white"></i> Canceled</a>
        $else:
            <a class="btn btn-large btn-danger disabled"><i class="icon-warning-sign icon-white"></i> Unknown</a>
      </h3>
      <div class="row-fluid">
        <div class="span6">
          <h3>Job Input</h3>
          <ul class="well">
            $for f in jobinfo['files']:
                $if f['type'] == 0:
                    <li> $f['name'] </li>
          </ul>
        </div>
        <div class="span6">
          <h3>Job Output</h3>
          <ul class="well">
            $for f in jobinfo['files']:
                $if f['type'] == 1:
                    <li><a href="/web/file/$f['fid']/$f['name']"> $f['name'] </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->
<script src="/web/static/js/job.js"></script>
