$def with( content )
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TRUFA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TRUFA TRanscriptomics User Friendly Analyses">
    <meta name="author" content="Luis Cabellos, Fernando Aguilar, Etienne Kornobis">

    <!-- Le styles -->
    <link href="/web/static/css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* space for topbar */ }
    </style>
    <link href="/web/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/web/static/css/bootstrap-dropdown-checkbox.css">
    <link rel="stylesheet" type="text/css" href="/web/static/css/homemade.css">
    <link rel="shortcut icon" href="/web/static/favicon.ico">

  </head>



  <body>

    <!-- Le javascript -->
    <script src="/web/static/js/jquery.min.js"></script>
    <script src="/web/static/js/bootstrap.min.js"></script>
    <script src="/web/static/js/bootstrap-dropdown-checkbox.js"></script>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">TRUFA $version
            <small>($release_date)</small></a>
          <div>
            <ul class="nav">
              <li><a href="/web">Home</a></li>
          <li><a href="/web/run_job">Start a Job</a></li>
          <li><a href="/web/manager">File Manager</a></li>
          <li><a href="/web/howto" target="_blank">How to</a></li>
          <li><a href="/web/faq">FAQ</a></li>
              <li><a href="/web/about">About</a></li>
          <!-- Right now Contact and About are redundant  -->
              <!-- <li><a href="/about#contact">Contact</a></li> -->
              <li><a target="_blank" href="https://trufa.ifca.es:8083/trufa/login">
                  <i class="icon-pencil icon-white"></i> Bugs
              </a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="/web/setup">
                  <i class="icon-user icon-white"></i>
                  <span id="navbar-username">User</span>
              </a></li>
              <li><a href="/web/logout">
                  <i class="icon-off icon-white"></i> Logout
              </a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="msgerror"></div>

    $:content

  </body>
</html>
