<div class="container">

  <div class="row-fluid">
    <div class="span6 offset3">
      <form id="setupform" class="form-horizontal">
        <div class="control-group">
          <div class="controls">
            <h3>Change Password</h3>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputUser">Old Password</label>
          <div class="controls">
            <input type="password" name="oldpass" placeholder="Old" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputUser">New Password</label>
          <div class="controls">
            <input type="password" name="newpass" placeholder="New" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputUser">Repeat Password</label>
          <div class="controls">
            <input type="password" name="repeatpass" placeholder="Repeat" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <a id="update-button" class="btn btn-primary" >
              <i class="icon-ok icon-white"></i> Update</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div> <!-- /container -->

<script src="/static/js/main.js"></script>
<script src="/static/js/setup.js"></script>
