<div class="container-fluid">

  <h1>How to:</h1>

<p>You can find as well more informations in the <a href="/web/static/trufa_manual.pdf"> the manual</a>.<p>

<p>You can download here the two demo files used in this tutorial: <a href="/web/static/demo_files/reads_left.fq.tar.gz"> reads_left</a> and <a href="/web/static/demo_files/reads_right.fq.tar.gz"> reads_right</a> </p>
  <div class="well span12">
    <h3>Upload your files:</h3>
    <p>Here is explanation about how file uploading is working on TRUFA and how you can specify different type of inputs.</p>
<iframe src="//player.vimeo.com/video/86609999" width="800" height="449" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="well span12">
    <h3>Submit a Job:</h3>
<p>Here you will find informations about how to perform a basic analysis, including reads cleaning, assembly, identification and expression quantification</p>
<iframe src="//player.vimeo.com/video/87452401" width="800" height="449" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
<div class="well span12">
<h3>Check the output</h3>
<p>Here is described how to check and download the output produced by the different programs used in TRUFA </p>
<iframe src="//player.vimeo.com/video/87466760" width="800" height="448" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

</div>
