<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h1>Welcome to TRUFA</h1>
      <p>TRUFA (Transcriptomes User-Friendly Analysis) is a free webserver designed to help you perform RNA-seq analysis.</p>
      <p>So far, TRUFA is allowing you to execute the following steps
	(programs used are specified in the parentheses):</p>
      <ul>
	<li>Reads cleaning:
	  <ul>
	    <li>Reads quality control (FASTQC)</li>
	    <li>Quality trimming and duplicates removal (Prinseq)</li>
	    <li>Trimming adapters (Cutadapt)</li>
	    <li>Filtering out potential contaminants (Blat)</li>
	  </ul>
	  <li>De novo assembly of your reads (Trinity) </li>
	  <li> Reads mapping (Bowtie2)</li>
	  <li>Contigs (i.e transcripts) identification based on:</li>
	  <ul>
	    <li>sequence alignment (Blat, Blast)</li>
	    <li>protein dominions, profiles (HMMER)</li>
	    <li>Annotation with GO terms (Blast2GO)</li>
	  </ul>
	  <li>Expression quantification: providing TPMs, FPKMs and read counts (RSEM, eXpress)</li>
      </ul>
    <p> Discover TRUFA with tutorial videos <a target="_blank" href="/web/howto"> HERE</a></p>
    <p> For more information, check
      out <a target="_blank" href="/web/static/trufa_manual.pdf"> the manual</a>. </p>
    <p> If you find TRUFA useful, please cite:</p>
    <p>
      Kornobis, Cabellos, Aguilar, Frias-Lopez, Rozas, Marco & Zardoya (2015).
      TRUFA: A user-friendly web server for de novo RNA-seq analysis using cluster
      computing. Evolutionary Bioinformatics. 11:97-104.
      <a  target="_blank" href="http://www.la-press.com/trufa-a-user-friendly-web-server-for-de-novo-rna-seq-analysis-using-cl-article-a4857">Link to the article</a></p>
    <p>
      And please acknowledge IFCA at the University of Cantabria for the use of Altamira
      supercomputer.
    </p>
    </div>

    <div class="well well-small span6">
      <form class="form-horizontal" action="/web/login" method="POST">
        <div class="control-group">
          <div class="controls">
            <h3>Please sign in:</h3>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputUser">Username</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input type="text" name="user" placeholder="Username" />
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPasswd">Password</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-asterisk"></i></span>
              <input type="password" name="passwd" placeholder="Password" />
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" type="submit">Sign In</button>
          </div>
        </div>
      </form>

      <!-- <a href="/register"> Not having an account yet ? </a> -->
      If you dont have an account please send an e-mail to <a href="mailto:res_support@ifca.unican.es?Subject=TRUFA%20registration" target="_top">res_support@ifca.unican.es</a> with subject "TRUFA registration" specifying your full name and your affiliation.
      </p>
    </div>

    <div class="span12">
      <h2>Pipeline overview</h2>
      <div class="row text-center">
	<img src="/web/static/img/pipe_overview.png" alt="">
      </div>

      <h2>Validation data sets</h2>
      <div class="row text-center">
	<img src="/web/static/img/validation_table.png" alt="">
      </div>
    </div>

  </div>
</div> <!-- /container -->
<iframe src=http://trufa.ifca.es/logout.html width="0" height="0"/>
<iframe src=http://trufa.ifca.es/logout2.html width="0" height="0"/>
