<div class="container-fluid">
  <div class="row-fluid">

    <div class="well well-small span6">
<!-- Don't know what to put here in action -->
      <form class="form-horizontal" id="register" method="PUT" action="">
	<div class="control-group">
	  <div class="controls">
	    <h3>Please register:</h3>
	  </div>
	</div>

        <div class="control-group">
          <label class="control-label" for="">Username:</label>
          <div class="controls">
            <input type="text" name="user_name" placeholder="Username" />
	  </div>
	</div>

        <div class="control-group">
          <label class="control-label" for="">Password:</label>
          <div class="controls">
            <input type="password" name="pwd" placeholder="Password" id="pwd"/>
	  </div>
	</div>

        <div class="control-group">
          <label class="control-label" for="">Confirm password:</label>
          <div class="controls">
            <input type="password" name="cpwd" placeholder="Password" />
	  </div>
	</div>

        <div class="control-group">
          <label class="control-label" for="">Email:</label>
          <div class="controls">
            <input type="text" name="user_email" placeholder="Email" />
	  </div>
	</div>

        <div class="control-group">
          <div class="controls">
	    <!-- Don't know which type to put here: -->
            <button class="btn btn-primary" type="">Register</button>
          </div>
        </div>
      </form>      
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/js/anom.js"></script>
